body {
    font-family: 'Raleway', sans-serif;
    padding-top: 70px;
}
h1 {
    letter-spacing: -0.3rem;
}
.intro {
    text-align: center;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.navbar-inverse .navbar-brand {
    color: white;
}
#modelpic {
    height: 10%;
}
